RewriteEngine On
RewriteCond %{HTTP_HOST} ^slotsfuns.herokuapp\.com
RewriteRule ^(.*)$ https://funsgame.online/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.slotsfuns.herokuapp\.com
RewriteRule ^(.*)$ https://funsgame.online/$1 [R=301,L] 
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
SetEnv HTTPS "on"
SetEnv HTTP_X_FORWARDED_PROTO "https"
</IfModule>

# END WordPress